<a href="https://colab.research.google.com/github/BuretGriffin/WEEK-4-MORINGA-PREP/blob/main/Moringa_Data_Science_Prep_W4_Independent_Project_2022_03_BURET_GRIFFIN_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# importing  numpy, pandas and time
import pandas as pd

import numpy as np

from datetime import datetime

In [5]:
# loading dataset
df3 = pd.read_csv('Autolib_dataset (2).csv')

df3.head()

,Address,Cars,Bluecar counter,Utilib counter,Utilib 1.4 counter,Charge Slots,Charging Status,City,Displayed comment,ID,...,Scheduled at,Slots,Station type,Status,Subscription status,year,month,day,hour,minute
0,2 Avenue de Suffren,0,0,0,0,0,nonexistent,Paris,NaN,paris-suffren-2,...,NaN,2,station,ok,nonexistent,2018,4,8,11,43
1,145 Rue Raymond Losserand,6,6,0,0,0,operational,Paris,NaN,paris-raymondlosserand-145,...,NaN,0,station,ok,nonexistent,2018,4,6,7,24
2,2 Avenue John Fitzgerald Kennedy,3,3,0,2,0,operational,Le Bourget,NaN,lebourget-johnfitzgeraldkennedy-2,...,NaN,1,station,ok,nonexistent,2018,4,3,20,14
3,51 Rue EugÃ¨ne OudinÃ©,3,3,1,0,1,operational,Paris,NaN,paris-eugeneoudine-51,...,NaN,2,station,ok,nonexistent,2018,4,4,4,37
4,6 avenue de la Porte de Champerret,3,3,0,0,0,nonexistent,Paris,NaN,paris-portedechamperret-6,...,NaN,3,station,ok,nonexistent,2018,4,8,17,23

In [6]:
# accessing information
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

In [7]:
# data cleaning
# dropping uncessary columns
df3.drop(['Displayed comment', 'ID', 'Geo point','Address', 'Cars'], axis = 1, inplace = True)
df3

,Bluecar counter,Utilib counter,Utilib 1.4 counter,Charge Slots,Charging Status,City,Kind,Postal code,Public name,Rental status,Scheduled at,Slots,Station type,Status,Subscription status,year,month,day,hour,minute
0,0,0,0,0,nonexistent,Paris,STATION,75015,Paris/Suffren/2,operational,NaN,2,station,ok,nonexistent,2018,4,8,11,43
1,6,0,0,0,operational,Paris,STATION,75014,Paris/Raymond Losserand/145,operational,NaN,0,station,ok,nonexistent,2018,4,6,7,24
2,3,0,2,0,operational,Le Bourget,STATION,93350,Le Bourget/John Fitzgerald Kennedy/2,operational,NaN,1,station,ok,nonexistent,2018,4,3,20,14
3,3,1,0,1,operational,Paris,STATION,75013,Paris/EugÃ¨ne OudinÃ©/51,operational,NaN,2,station,ok,nonexistent,2018,4,4,4,37
4,3,0,0,0,nonexistent,Paris,PARKING,75017,Paris/Porte de Champerret/6,operational,NaN,3,station,ok,nonexistent,2018,4,8,17,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,2,0,0,0,nonexistent,Colombes,STATION,92700,Colombes/MÃ©nelotte/8,operational,NaN,3,station,ok,nonexistent,2018,4,6,11,26
4996,4,0,0,1,operational,Paris,STATION,75015,Paris/Dantzig/37,operational,NaN,2,station,ok,nonexistent,2018,4,4,16,56
4997,1,0,0,1,operational,Paris,STATION,75007,Paris/Bac/142,operational,NaN,4,station,ok,nonexistent,2018,4,1,7,1
4998,2,0,0,0,nonexistent,Fontenay-Sous-Bois,STATION,94120,Fontenay-Sous-Bois/Val de Fontenay/2,operational,NaN,3,station,ok,nonexistent,2018,4,4,17,27
4999,4,0,0,0,operational,Paris,STATION,75018,Paris/Henry Brisson/5,operational,NaN,0,station,ok,nonexistent,2018,4,8,10,2

In [8]:
# checking missing values
df3.isnull().any()

Bluecar counter        False
Utilib counter         False
Utilib 1.4 counter     False
Charge Slots           False
Charging Status        False
City                   False
Kind                   False
Postal code            False
Public name            False
Rental status          False
Scheduled at            True
Slots                  False
Station type           False
Status                 False
Subscription status    False
year                   False
month                  False
day                    False
hour                   False
minute                 False
dtype: bool

In [9]:
# there are missing valus in schedules at column so we  find the number of mising values
df3.isnull().sum().sum()

4953

In [10]:
# checking and dropping duplicates
df3[df3.duplicated()]

# dropping the duplicates

df =df3.drop_duplicates()
 
# checking for non duplicates

df.head(20)

,Bluecar counter,Utilib counter,Utilib 1.4 counter,Charge Slots,Charging Status,City,Kind,Postal code,Public name,Rental status,Scheduled at,Slots,Station type,Status,Subscription status,year,month,day,hour,minute
0,0,0,0,0,nonexistent,Paris,STATION,75015,Paris/Suffren/2,operational,NaN,2,station,ok,nonexistent,2018,4,8,11,43
1,6,0,0,0,operational,Paris,STATION,75014,Paris/Raymond Losserand/145,operational,NaN,0,station,ok,nonexistent,2018,4,6,7,24
2,3,0,2,0,operational,Le Bourget,STATION,93350,Le Bourget/John Fitzgerald Kennedy/2,operational,NaN,1,station,ok,nonexistent,2018,4,3,20,14
3,3,1,0,1,operational,Paris,STATION,75013,Paris/EugÃ¨ne OudinÃ©/51,operational,NaN,2,station,ok,nonexistent,2018,4,4,4,37
4,3,0,0,0,nonexistent,Paris,PARKING,75017,Paris/Porte de Champerret/6,operational,NaN,3,station,ok,nonexistent,2018,4,8,17,23
5,0,0,0,0,nonexistent,Paris,STATION,75011,Paris/Voltaire/8,operational,NaN,4,station,ok,nonexistent,2018,4,6,7,2
6,0,0,0,0,nonexistent,Paris,PARKING,75015,Paris/CitroÃ«n CÃ©vennes/Parking,broken,NaN,0,station,closed,nonexistent,2018,4,8,18,20
7,3,1,0,0,nonexistent,Nanterre,STATION,92000,Nanterre/Luaps/17,operational,NaN,0,station,ok,nonexistent,2018,4,4,22,13
8,1,0,0,0,nonexistent,Paris,STATION,75014,Paris/Jean Moulin/34,operational,NaN,4,station,ok,nonexistent,2018,4,2,22,58
9,6,0,0,0,nonexistent,Paris,PARKING,75009,Paris/Anvers/Parking,operational,NaN,0,station,ok,nonexistent,2018,4,4,15,2
10,0,0,0,2,operational,Paris,STATION,75005,Paris/Censier/14,operational,NaN,6,station,ok,nonexistent,2018,4,1,4,39
11,1,0,0,0,nonexistent,Puteaux,STATION,92800,Puteaux/Francis de PressensÃ©/12,operational,NaN,4,station,ok,nonexistent,2018,4,6,9,20
12,5,1,0,0,nonexistent,Paris,PARKING,75017,Paris/Porte de Champerret/6,operational,NaN,0,station,ok,nonexistent,2018,4,5,12,22
13,0,0,0,0,nonexistent,Paris,STATION,75014,Paris/Jean Moulin/34,operational,NaN,0,station,ok,nonexistent,2018,4,8,21,54
14,0,0,0,1,operational,Paris,STATION,75011,Paris/Richard Lenoir/8,operational,NaN,4,station,ok,nonexistent,2018,4,6,8,0
15,0,0,0,0,nonexistent,Fontenay-aux-Roses,SPACE,92260,Fontenay-aux-Roses/Jean JaurÃ¨s/3,operational,NaN,4,full_station,ok,operational,2018,4,2,0,21
16,0,0,0,0,nonexistent,Le Chesnay,STATION,78150,Le Chesnay/Leclerc/2,operational,NaN,1,station,ok,nonexistent,2018,4,3,19,0
17,6,0,0,0,operational,Paris,STATION,75011,Paris/Voltaire/182,operational,NaN,0,station,ok,nonexistent,2018,4,9,12,14
18,5,0,0,0,nonexistent,Paris,PARKING,75015,Paris/Cambronne/Parking,operational,NaN,0,station,ok,nonexistent,2018,4,9,20,58
19,4,0,2,0,operational,Paris,STATION,75014,Paris/RenÃ© Coty/11,operational,NaN,0,station,ok,nonexistent,2018,4,9,21,31

In [11]:
# getting the  number of cars at the station

df['Bluecar_Diff'] = df['Bluecar counter'].diff()
df.head()

,Bluecar counter,Utilib counter,Utilib 1.4 counter,Charge Slots,Charging Status,City,Kind,Postal code,Public name,Rental status,...,Slots,Station type,Status,Subscription status,year,month,day,hour,minute,Bluecar_Diff
0,0,0,0,0,nonexistent,Paris,STATION,75015,Paris/Suffren/2,operational,...,2,station,ok,nonexistent,2018,4,8,11,43,NaN
1,6,0,0,0,operational,Paris,STATION,75014,Paris/Raymond Losserand/145,operational,...,0,station,ok,nonexistent,2018,4,6,7,24,6.0
2,3,0,2,0,operational,Le Bourget,STATION,93350,Le Bourget/John Fitzgerald Kennedy/2,operational,...,1,station,ok,nonexistent,2018,4,3,20,14,-3.0
3,3,1,0,1,operational,Paris,STATION,75013,Paris/EugÃ¨ne OudinÃ©/51,operational,...,2,station,ok,nonexistent,2018,4,4,4,37,0.0
4,3,0,0,0,nonexistent,Paris,PARKING,75017,Paris/Porte de Champerret/6,operational,...,3,station,ok,nonexistent,2018,4,8,17,23,0.0

In [12]:
# answering questions
# question1
# Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris
Electric_paris = df[df['City'] =='Paris'] 

Electric_paris.head()

,Bluecar counter,Utilib counter,Utilib 1.4 counter,Charge Slots,Charging Status,City,Kind,Postal code,Public name,Rental status,...,Slots,Station type,Status,Subscription status,year,month,day,hour,minute,Bluecar_Diff
0,0,0,0,0,nonexistent,Paris,STATION,75015,Paris/Suffren/2,operational,...,2,station,ok,nonexistent,2018,4,8,11,43,NaN
1,6,0,0,0,operational,Paris,STATION,75014,Paris/Raymond Losserand/145,operational,...,0,station,ok,nonexistent,2018,4,6,7,24,6.0
3,3,1,0,1,operational,Paris,STATION,75013,Paris/EugÃ¨ne OudinÃ©/51,operational,...,2,station,ok,nonexistent,2018,4,4,4,37,0.0
4,3,0,0,0,nonexistent,Paris,PARKING,75017,Paris/Porte de Champerret/6,operational,...,3,station,ok,nonexistent,2018,4,8,17,23,0.0
5,0,0,0,0,nonexistent,Paris,STATION,75011,Paris/Voltaire/8,operational,...,4,station,ok,nonexistent,2018,4,6,7,2,-3.0

In [13]:


Electric_paris[Electric_paris['Bluecar_Diff'] < 0].groupby('hour')['hour'].count().sort_values(ascending= False)

hour
21    80
16    68
7     64
5     62
13    62
23    61
20    61
3     60
8     59
4     58
9     57
18    57
22    55
19    55
17    55
12    54
14    54
10    52
0     52
2     51
6     50
15    49
11    47
1     43
Name: hour, dtype: int64

In [14]:
#What station is the most popular?
#Overall?
#At the most popular picking hour?
# Identifying the the most popular hour for returning cars
# Usage is positive when returning cars
#
Electric_paris[Electric_paris.Bluecar_Diff > 0].groupby('hour')['hour'].count().sort_values(ascending = False).head(1)

hour
3    49
Name: hour, dtype: int64

In [ ]:
# Identifying the postal code which is the most popular for picking up Bluecars - overall
# Usage is negative when picking up cars